.lmj-categories {
    margin: 10px 25px;
    text-align: center;
}

.lmj-categories-clear-button {
    margin-left: 5px;
    background: none;
    border: none;
    color: #31b572;
    cursor: pointer;
}